appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
bcrypt==3.1.6
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
conda==4.6.14
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
hyperlink==17.3.1
idna==2.8
incremental==17.5.0
influxdb==5.2.2
lxml==4.3.3
menuinst==1.4.16
more-itertools==4.3.0
parsel==1.5.1
pluggy==0.9.0
py==1.8.0
pyasn1==0.4.4
pyasn1-modules==0.2.4
pycosat==0.6.3
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.2
pyOpenSSL==19.0.0
PySocks==1.6.8
pytest==4.4.1
pytest-runner==4.4
python-dateutil==2.8.0
pytz==2019.1
pywin32==223
queuelib==1.5.0
requests==2.21.0
ruamel-yaml==0.15.46
Scrapy==1.5.2
selenium==3.141.0
service-identity==17.0.0
six==1.12.0
Twisted==19.2.0
urllib3==1.24.1
w3lib==1.20.0
win-inet-pton==1.1.0
wincertstore==0.2
zope.interface==4.6.0
